<!DOCTYPE html>
<html>
    <h2>BRICK</h2>
    <span>Hello, {{request.user}}</span>
    <span><a href="{% url 'logout' %}">Logout</a></span>
    <body>
        {% if messages %}
            <div id="messages">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
    </body>

    <div class="col-md-7">
		<h3>Posts</h3>
		<hr>
		<div class="card card-body">	
			<table class="table table-sm">
				<tr>
					<th>Product</th>
					<th>Price</th>
                    <th>Date Orderd</th>
                    <th>Owner</th>
				</tr>
				{% for post in posts %}
					<tr>
						<td>{{post.title}}</td>
                        <td>{{post.price}}</td>
						<td>{{post.date_created}}</td>
						<td>{{post.owner}}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
        <hr>
    </div>
</html>